.Card{
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid;
    margin: 10px;

    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 300px;
}

.Card .Title{
    color: white;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    font-family: Trebuchet MS;
}

.Card .Content{
    flex: 1;
    background-color: seashell;
    color: black;
    padding: 13px;
    font-family: Trebuchet MS;
}